pandas==2.3.1
numpy==2.2.6
scikit-learn==1.7.1
statsmodels==0.14.5
matplotlib==3.10.5
seaborn==0.13.2
plotly==6.2.0

prophet==1.1.7

langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.71
langchain-google-genai==2.1.8
sentence-transformers==5.0.0
chromadb>=1.0.20
openai==1.98.0

fastapi==0.116.1
uvicorn==0.35.0
streamlit==1.47.0

joblib==1.5.1
python-dotenv==1.1.1

PyPDF2==3.0.1
unstructured==0.7.7

sqlite3>=3.35.0
